:root{   /*Asignacion de variables para poder elegir principalmente colores en las clases  color: var(--primario);*/

    --blanco: #ffffff;
    --oscuro: #f6f7f321;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #DFE9F3;

}

html {                      /*Se introducira al inicio del CSS para darle formato a los REM*/
    font-size: 62.5%;
    box-sizing: border-box; /*Hace que los pixeles no se modifiquen al aplicar algun paddin o margen*/
}
*, *:before, *:after{
    box-sizing: inherit;
}

.cabecera {
    /*display: flex;*/
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: 20% 40% 40%;
  
    height: 15rem;
    
}

.main{
    display: grid;
    grid-template-columns: 20% 40% 40% ;
}

.equipos{
    grid-column: 2 / 3;
    
}


.logo{
    /*display: flex;*/
    /*width: 50rem;
    justify-content: end;*/
    /*background-color: var(--grisclaro);*/
    padding: 2rem;
    background-color: #75757527;
    
}

.titulo{
    /*display: flex;*/
    /*width: 120rem;
    font-size: 1.5rem;
    color: gray;
    align-items: center;
    justify-content: end;
    margin-right: 20rem;
    margin-top: 2rem;*/
    /*background-color: var(--secundario);*/
    padding-top: 6rem;
    font-size: 1.5rem;
    background-color: #75757527;
}

.cabecera_equipo{
    
    padding-left: 8rem;
    padding-top: 5rem;
    color: rgba(128, 128, 128, 0.792);
    font-weight: bold;
    height: 10rem;
    

}

.barra_equipo{
    background-color: rgba(247, 29, 29, 0.861);
    font-size: 2rem;
    width: 130rem;
    
    margin-top: 5rem;
    color: #ffffff;
    font-weight: bold;
    
}

.equipos{
    font-size: 2rem;
    /*display: flex;
    width: 150rem;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 10rem;*/
       
                 
}

.equipos  a {
   text-decoration: none;
   color: blue;
   font-weight: bold;
   background-color: rgb(19, 222, 138);
   height: 20rem;
   width: 60rem;
   display: flex;
   justify-content: center;
   margin-top: 5rem;
  
}

.equipos a:hover{
    background-color: rgb(156, 255, 180);
    color: black;
    border: rgb(14, 97, 205);
    border-radius: 2rem;
    
}

.barrera{
   display: flex;
   height: 5rem;
   
   margin: 2rem;
   width: 10rem;
   
}

.fondo{
   background-color: rgb(250, 250, 250);
}

.linea{
   background-color: rgb(228, 228, 240);
   height: .2rem;
   margin-top: 1rem;
     

}

.entrada{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin-bottom: 5rem;
   
}

.entrada1 {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.entrada2 {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.entrada3 {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
