:root{   /*Asignacion de variables para poder elegir principalmente colores en las clases  color: var(--primario);*/

    --blanco: #ffffff;
    --oscuro: #f6f7f321;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #DFE9F3;

}

html {                      /*Se introducira al inicio del CSS para darle formato a los REM*/
    font-size: 62.5%;
    box-sizing: border-box; /*Hace que los pixeles no se modifiquen al aplicar algun paddin o margen*/
}
*, *:before, *:after{
    box-sizing: inherit;
}

.cabecera{
    display: flex;
}
.logo{
    display: flex;
    width: 50rem;
    justify-content: end;
}

.titulo{
    display: flex;
    width: 120rem;
    font-size: 1.5rem;
    color: gray;
    align-items: center;
    justify-content: end;
    margin-right: 20rem;
    margin-top: 2rem;
}

.equipos{
    font-size: 2rem;
    display: flex;
    width: 150rem;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 10rem;

    
    
                 
}

.equipos a {
   text-decoration: none;
   color: blue;
   font-weight: bold;
   background-color: rgb(54, 246, 54);
   height: 20rem;
   width: 20rem;
   display: flex;
   justify-content: center;
  
}

.equipos a:hover{
    background-color: yellow;
    color: black;
}

.barrera{
   display: flex;
   height: 5rem;
   
   margin: 2rem;
   width: 10rem;
   
}

.fondo{
   background-color: gainsboro;
}

.linea{
   background-color: rgb(122, 122, 189);
   height: .2rem;
   margin-top: 0;

}

.entrada{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin: 0;
   
}